@font-face {
    font-family: "Mamelon";
    src: url("Mamelon.eot"); /* IE9 */
    src: url("Mamelon.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Mamelon.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Mamelon.woff") format("woff"), /* chrome, firefox */
    url("Mamelon.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Mamelon.svg#Mamelon") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


